
html {
    background-color: #2F243A;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.wrap {
    margin: 2em auto;
    background-color: #FAC9B8;
    border-radius: 5px;
    max-width: 500px;
    padding: 1em;
}

h2 {
    text-align: center;
}

input {
    flex-grow: 1;
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}
  
button {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid #bbb;
}

form {
    display: flex;
    justify-content: stretch;
    padding-bottom: 2em;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    font-size: 18px;
    transition: 0.2s;
    user-select: none;
    &.done {
        text-decoration: line-through;
    }
    &:nth-child(odd) {
        background: #f9f9f9;
    }
    &:hover {
        background: #ddd;
    }
    &.done::before {
        content: '';
        position: absolute;
        border-color: #fff;
        border-style: solid;
        border-width: 0 2px 2px 0;
        top: 10px;
        left: 16px;
        transform: rotate(45deg);
        height: 15px;
        width: 7px;
    }
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    &:hover {
        background-color: #f44336;
        color: white;
    }
}